apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-app
        image: stewiedocker46/flask-app:latest  # Replace with your Docker image name
        ports:
        - containerPort: 5000
        env:
        - name: FLASK_APP
          value: "app.py"
        - name: FLASK_ENV
          value: "production"
        - name: DB_HOST
          value: "my-flask-db.ct8686g6i2km.us-west-2.rds.amazonaws.com"
        - name: DB_NAME
          value: "my-flask-db"
        - name: DB_USER
          value: "admin"
        - name: DB_PASSWORD
          value: "qwertyuiop"
